#top-left-pos {
  background: #89cff0;
  border: 0.1em solid black;
  position: absolute;
  width: 200px;
  height: 100px;
  z-index: 4;
}

#bottom-right-tl-parent {
  background: #dbe9f4;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#top-right-pos {
  background: #89cff0;
  border:  0.1em solid black;
  position: absolute;
  width: 200px;
  height: 100px;
  top: 0px;
  right: 0px;
}

#bottom-left-tr-parent {
  background: #dbe9f4;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
