a:hover {
  color: blue;
}

a:active {
  color: red;
}
a:visited {
  color: #989898;
}

body {
  background: #5d8aa8;
}

div#wrapper {
  margin: 0 auto;
  background: white;
  width: 800px;
  height: 1500px;
}

header {
  display: block;
  padding-bottom: 10px;
}

#websiteLogo {
  padding: 5px 0px 0px 5px;
}

#horzNav {
  display: block;
  padding: 5px 20px 5px 0px;
  background: black;
}

#horzNav a {
  text-decoration: none;
  padding: 0 0 0 20px;
  color: white;
}

#horzNav a:hover {
  color: #89cff0;
}

main {
  padding: 10px 10px 20px 20px;
  float: left;
  width: 600px;
}

#sidebar {
  padding: 20px 10px 0 10px;
  float: right;
  width: 150px;
  height: auto;
  background: #DBE9F4;
}

h2 {
  font-size: 1em;
}

#para-1 {
  text-align: left;
  word-spacing: .5em;
}

#para-2 {
  text-align: right;
}

#para-3 {
  text-align: center;
}

#para-4 {
  text-indent: 2em;
}

#para-5 {
  text-align: left;
  word-spacing: .5em;
}

footer {
  clear: both;
  background: black;
  color: white;
  padding: 10px;
}

#sidebar-list {
  list-style-type: lower-latin;
  list-style-position: outside;
}

#sidebar-list-2 {
  list-style-type: upper-roman;
  list-style-position: inside;
}

p#para-1:before {
  content: "*";
}

p#para-1:after {
  content: "@";
}

h3 {
  font-size: .9em;
  counter-increment: num;
}

h4 {
  font-size: .7em;
  counter-increment: sub 2;
}

h3:before {
  content: counter(num) " ";
}

h4:before {
  content: counter(num) "." counter(sub) " ";
}

#para-2:first-letter {
  font-size: 25pt;
}

#para-3:first-line {
  background: yellow;
}

span:first-child {
  background: orange;
}

P:last-child{
  background: #fae7b5;
}

span:nth-child(2) {
  background: #ffe4c4;
}

h3:hover {
  background: orange;
}

#common-quote {
  cursor: pointer;
}

#para-4 {
  outline: 2px solid blue;
  border: 2px solid black;
}

dl#buttons{
  width: 150px;
}

dt.site-button {
  text-align: center;
  margin-bottom: 5px;
}

dt.site-button a{
  disply: block;
  color: white;
  text-decoration: none;
}

dt.site-button a:link{
  background: blue;

  border: 5px solid blue;
  text-decoration: none;
}

dt.site-button a:hover{
  background: green;
}
/*slideshow*/

dl#kids-pics a img.hidden {
  visibility: hidden;
  position: absolute;
  left: 110px;
  top: 400px;
}

dl#kids-pics a:hover img.hidden {
  visibility: visible;
}
