#relative-1 {
  background: #dbe9f4;
  border: 0.1em solid black;
  height: 100px;
}

#relative-2 {
  position: relative;
  left: 20px;
  top: 30px;
  width: 300px;
  background: yellow;
  border: 0.1em solid black;
}
